html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/* 
1184 общий ограничитель контента
984 ограничитель некоторых секций
 */

.page__container {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  /* background-image: url('../images/sphere.jpg'); */
  background-image: url('../images/euclidean-vector6_green.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 15px 0 24px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
   /* #e4e4e4;; */
  font-family: 'Montserrat', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.content {
  flex: 1;
}

.page__header,
.page__footer {
  padding: 0 48px;
}

.content__section {
  width: 100%;
  padding: 0 48px;
  box-sizing: border-box;
}

.content__section_desktop_narrow {
  max-width: calc(984px + 48px * 2);
  margin: 0 auto;
}

@media screen and (max-width: 984px) {
  .page__header,
  .page__footer {
    padding: 10px 24px;
  }

  .content__section {
    padding: 0 24px;
  }
}

@media screen and (max-width: 680px) {
  .page__header,
  .page__footer {
    padding: 0 16px;
  }

  .content__section {
    padding: 0 16px;
  }
}

@media screen and (max-width: 1100px) {
  .content__section_laptop_wide {
    padding: 0;
  }
}

@media screen and (max-width: 984px) {
  .content__section_tablet_wide {
    padding: 0;
  }
}

@media screen and (max-width: 680px) {
  .content__section_mobile_wide {
    padding: 0;
  }
}

.header {
  border-bottom: 1px dashed lightgray;
  /* outline: 1px dashed lightgrey; */
}

.main {
  box-shadow: 0 0 0 1px green;
}

.section {
  /* outline: 2px dashed rgb(202, 202, 202); */
  /* box-shadow: 0 0 0 1px black; */
}

.footer {
  outline: 1px dashed rgb(202, 202, 202);
}
