/* @import url(../styles/style.css); */
@import url(../vendor/fonts.css);

@keyframes rotation {
  30% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotation {
  animation: rotation 4s linear;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blinking {
  animation: blinking 12s forwards;
}

:root {
  --bg_color: #555;
  --size: 60px;
  --radius: 16px;
  --padding: 10px;
  --primary: rgb(107, 107, 107);
}

/* menu ------------------------------------------- */

.menu {
  position: absolute;
  top: 40%;
  right: 1%;
  background-color: rgb(250, 250, 250);
  border: 1px dashed rgb(165, 165, 165);
  display: grid;
  grid-auto-rows: var(--size);
  border-top-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  padding: var(--padding);
  box-shadow: -3px 1px 12px rgba(0, 0, 0, 0.1);
  /* z-index: 1; */
}
.menu__item {
  display: grid;
  align-items: center;
  justify-items: center;
  text-decoration: none;
  width: var(--size);
  height: var(--size);
  position: relative;
}

.menu__ic {
  color: rgb(122, 122, 122);
}

.menu__text {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
  transform: translateY(-50%);
  box-shadow: -1px 1px 2px rgba(55, 55, 55, 0.2);
  background-color: rgb(250, 250, 250);
  color: rgb(88, 88, 88);
  border-top-left-radius: var(--radius);
  transition: all 0.4s ease-in-out;
  max-width: 0;
  overflow: hidden;
  font-size: 18px;
  padding: 0;
}

/* hover */
.menu__item:hover .menu__ic {
  font-weight: bold;
}

.menu__item:hover .menu__text {
  right: 100%;
  max-width: 300%;
  padding: 14px 24px;
  padding-right: 30px;
}
/* side-menu */
/* .side-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 0;
  left: 0;
}

.side-menu__btn {
  width: 50px;
}

.side-menu__btn_close {
  position: absolute;
  width: 45px;
  height: 45px;
  right: -45px;
  top: -40px;
  border: 2px dashed black;
}

#myDialog {
  position: absolute;
  top: 70px;
  left: 0;
  margin-left: 0;
  width: 70px;
  height: 300px;
} */

/* header ----------------------------------------- */

.header__container {
  display: flex;
  position: relative;
  width: 160px;
  /* outline: 1px dashed rgb(7, 179, 30); */
  justify-content: space-evenly;
}

.header__subcontainer {
  display: flex;
  flex-direction: column;
  width: 130px;
  border-top-right-radius: var(--radius);
  background-color: rgb(250, 250, 250);
  border: 1px dashed rgb(165, 165, 165);
  /* outline: 1px dashed rgb(165, 165, 165); */
}
/* .header__subcontainer-right {
  display: flex;
  justify-content: center;
  position: relative;
} */

.header__logo {
  background-image: url('../images/json1.png'); /*instead ttt.png */
  border-top-right-radius: var(--radius);
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 145px;
  opacity: 0.9;
  position: relative;
  z-index: 0;
}

.header__title {
  margin: 0;
  padding: 0;
  font-size: 19px;
  font-weight: 700;
  /* color:#f12400; */
  background-color: green;
  position: absolute;
  bottom: 6px;
  align-self: center;
  /* left: 16px; */
  color: rgb(107, 107, 107);
  text-shadow: 0 1px 1px rgb(177, 177, 177);
  text-align: left;
  -webkit-background-clip: text;
}

.header__title-right {
  position: absolute;
  top: -5px;
  margin-right: 10px;
  align-self: flex-end;
  /* align-self: self-end; */
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
  text-shadow: 1px 0 1px rgb(231, 231, 231);
  color: rgb(100, 100, 100);
  z-index: 2;
}

.header-dot {
  font-size: 24px;
  line-height: 15px;
  font-weight: 700;
  color: rgb(0, 199, 0);
}

.section-title {
  margin-top: 70px;
  color: rgb(107, 107, 107);
  font-size: 54px;
  /* font-family: Futura; */
  /* background-color: #666666; */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  /* color: transparent; */
  /* text-shadow: rgb(245 245 245 / 50%) 3px 5px 1px; */
  /* background-color: #666666; */
  /* text-shadow: 1px 4px 4px #555; */
  text-align: center;
  /* -webkit-background-clip: text; */
}

.pending-line {
  /* background-image: url('../images/dash.jpg');
  background-repeat: no-repeat; */
  z-index: 3;
  opacity: 0;
}

.section-text {
  font-size: 18px;
  font-weight: 400;
  color: rgb(107, 107, 107);
}

/* footer styles */
.footer__text {
  color: rgb(54, 54, 54);
  font-size: 13px;
  font-weight: 400;
  text-align: right;
  margin: 0 40px 0 0;
  padding: 7px 0;
}

.footer-dot {
  font-size: 30px;
  line-height: 10px;
  font-weight: 700;
  color: rgb(0, 187, 0);
}

.footer__text:hover {
  color: rgb(0, 187, 0);
}
